.opportunity-container{
    text-align: center;
    padding: 20px 0;
    background-color: #f6f6f5;
    h2{
        color: #008234;
        font-weight: bold;
        font-size: 25px;
    }
}
.opportunity-card-container{
    width: 100vw;
    display: grid;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(150px, 450px));
}