@font-face {
    font-family: "Cormorant";
    src: url("../../app/fonts/Martel/Martel-Regular.ttf");
    font-weight: normal;
  }  
  @font-face {
    font-family: "Triong";
    src: url("../../app/fonts/Trirong/Trirong-Regular.ttf") format("ttf");
    font-weight: normal;
  }

.cluster-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cormorant;
    padding: 20px;
}
.card-container{
    width: 100vw;
    display: grid;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(150px, 450px));
}
.cluster-card{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    transition: .5s;
    background-color: white;
.cluster-logo{
    img{
        border-radius: 10px;
    }
}
.cluster-text{
    padding: 20px;
    text-align: center;
    h3{
        font-weight: bold;
        font-size: 15px;
        padding: 20px 0;
    }
    p{
        font-size: 13px;
    }
}
Button{
    padding: 20px;
    margin: 25px 0;
    background-color: #008234;
}
}
.cluster-card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media only screen and (max-width: 770px) {
    .card-container{
        grid-template-columns: repeat(auto-fill, minmax(150px, 450px));  
    }
}
@media only screen and (max-width: 400px) {
    .card-container{
        grid-template-columns: repeat(auto-fill, minmax(150px, 450px));  
    }
}